*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Gobal */
h1{
    font-size: 6.5vw;
}
h3{
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}
h4{
    font-size: 1.1rem;
    font-family: serif;
    font-weight: 700;
    word-spacing: 0.4vw;
}
h6{
  font-size: 0.9rem;
  font-weight: 700;
  color: #6caa7f;
}
p{
    font-size: 1rem;
    font-family: sans-serif;
    line-height: 1.5rem;
}
button{
    background: #6caa7f;
    border-style: none;
    padding: 0.7rem 1.3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
    
}
hr{
    background-color: #27ae60;
    color: #27ae60;
    height: 0.07rem;
}
body{
    font-family: sans-serif;
    background: var(--sencendary-color);
}
:root{
    --primary-color: #27ae60;
    --sencendary-color: #fff;
    --siam-color: #2ecc71;
    --misty-color: #defadb;
    --mabia-color: #6caa7f;
    --nipa-color : #2f2222;
    --mim-color: #221f1f;
    --sumaiya-color: #1c1919;
    --ritu-color: #171717;
    

}
.dark-theme{
    --primary-color: #27ae60;
    --sencendary-color: #000;
    --siam-color: #2ecc71;
    --misty-color: #defadb;
    --mabia-color: #6caa7f;
    --nipa-color : #ddbdbd;
    --mim-color: #ddc7c7;
    --sumaiya-color : #f2e1e1;
    --ritu-color: #e8d9d9;
}

/* start header */
.featured{
    background: var(--sencendary-color);
}
.intro{
  position: relative;
}
.head{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.head h1{
    font-family: "Leckerli One", cursive;
    color: #000;
}
.head h6{
    color: var(--primary-color);
    letter-spacing: 0.3rem;
}
#icon{
    width: 20px;
    cursor: pointer;
}
.misty {
    padding: 0px 23px;
}
.featured .row .one{
    height: 300px;
}
.featured .row .one img{
    width: 100%;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;

}
.text{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}
.text p{
    letter-spacing: 0.2rem;
    line-height: 2px;
}
.text a{
    text-decoration: none;
    border-style: none;
    color: var(--ritu-color);
    font-size: 0.9rem;
}
.text a::after{
    content: "";
    display: block;
    width: 30%;
    height: 2px;
    background: var(--siam-color);
}
.subscription{
    background: var(--misty-color);
}
.subscription .row .sub input{
    outline: none;
    border: 1px solid var(--mabia-color);
}
.subscription .row .sub input::placeholder{
    font-size: 0.9rem;
}

.blog .row .post a{
  font-size: 0.9rem;
  color: var(--primary-color);
  font-weight: bold;
  text-decoration: none;
  border-style: none;
}
.blog .row .post p{
    color: var(--nipa-color);
}
.blog .row .post h3{
    color: var(--mim-color);
}
.blog .row .sidebar .side1 h3{
   color: var(--sumaiya-color);
}
.blog .row .sidebar .side1 P{
    color: var(--ritu-color);
}
.blog .row .sidebar .side2 h4{
    color: var(--ritu-color);
}
.blog .row .sidebar .side3 h4{
    color: var(--ritu-color);
}
.blog .row .sidebar .side2 .row .sidetext h4{
   font-size: 1rem;
   color: var(--ritu-color);
}
.blog .row .sidebar .side2 .row .sidetext a{
   text-decoration: none;
   border-style: none;
   color: var(--mabia-color);
   font-size: 0.8rem;
}
.blog .side3 .one{
    height: 300px;
    position: relative;
}
.blog .side3 .one img{
    width: 100%;
    height: 100%;
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;
}
.blog .side3 .one .text5{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10rem 1.1rem 0 1.1rem;
}
.footer p{
    color: var(--ritu-color);
}
.footer p a{
    color: var(--ritu-color);
}
